.container {
  margin-inline: $container-margin;

  @include mq(module-max) {
    inline-size: 100%;
    margin-inline: auto;
    max-inline-size: 1200px;
  }

  main > & {
    margin-block: $container-vert-margin;

    @include mq(tablet-landscape) {
      margin-block: $container-vert-margin-desktop;
    }

    &:first-child {
      margin-block-start: 30px;

      @include mq(tablet-landscape) {
        margin-block-start: 55px;
      }
    }
  }
}
