.container {
  margin-left: $container-margin;
  margin-right: $container-margin;

  @include mq(module-max) {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    width: 100%;
  }

  main > & {
    margin-bottom: $container-vert-margin;
    margin-top: $container-vert-margin;

    @include mq(tablet-landscape) {
      margin-bottom: $container-vert-margin-desktop;
      margin-top: $container-vert-margin-desktop;
    }

    &:first-child {
      margin-top: 30px;

      @include mq(tablet-landscape) {
        margin-top: 55px;
      }
    }
  }
}
