.coveo-headless-search__heading {
  font-size: 33px;
  font-weight: bold;
  margin-block-end: 0.5em;
}

.coveo-headless-search__bar {
  display: flex;
  gap: 20px;
  inline-size: 100%;
}

.coveo-headless-search__load-more-btn,
.coveo-headless-search__btn {
  background-color: #1e90ff;
  block-size: 50px;
  border: solid 2px #000;
  border-radius: 5px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding-inline: 20px;
  text-transform: uppercase;
  transition: all 200ms ease-in-out;

  &:hover {
    background-color: #f4a460;
    border-radius: 5px;
    color: #000;
    padding: 5px 20px;
  }

  &:disabled {
    background-color: #ccc;
    border-color: #eee;
    color: #eee;
    cursor: not-allowed;
  }
}

.coveo-headless-search__input {
  block-size: 50px;
  border: solid 2px #000;
  border-radius: 5px;
  flex-grow: 1;
  font-size: 20px;
  inline-size: 100%;
  padding-inline: 10px;
}

.coveo-headless-search__input-container {
  inline-size: 100%;
  position: relative;

  ul {
    background-color: #eee;
    border: 2px solid #000;
    border-radius: 5px;
    inline-size: 100%;
    inset-block-start: calc(100% + 10px);
    inset-inline-end: 0;
    position: absolute;
    z-index: 0;
  }

  li {
    padding: 5px 20px;
  }
}

.coveo-headless-search__results {
  border: solid 2px #000;
  border-radius: 5px;
  margin-block-start: 20px;
  padding: 50px;
}

.coveo-headless-search__result {
  margin-block-end: 50px;

  &:not(:last-child) {
    border-block-end: 1px solid #000;
    padding-block-end: 50px;
  }

  a {
    color: #1e90ff;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
  }

  p {
    margin-block-start: 10px;
    margin-inline-start: 30px;
  }
}

.coveo-headless-search__input-container {
  inline-size: 100%;
  position: relative;
}

.coveo-headless-search__facets {
  border: solid 2px #000;
  border-radius: 5px;
  margin-block: 20px;
  min-block-size: 50px;
  padding: 20px;

  & ul {
    display: flex;
    gap: 20px;
    inline-size: 100%;
  }

  .custom-checkbox {
    block-size: 25px;
    cursor: pointer;
    display: block;
    font-size: 22px;
    inline-size: 25px;
    position: relative;
    user-select: none;
  }

  input[type="checkbox"] {
    block-size: 0;
    cursor: pointer;
    inline-size: 0;
    opacity: 0;
    position: absolute;
  }

  .checkmark {
    background-color: #eee;
    block-size: 100%;
    border-radius: 50%;
    inline-size: 100%;
    inset-block-start: 0;
    inset-inline-start: 0;
    position: absolute;
  }

  .checkmark::after {
    block-size: 100%;
    border: solid #1e90ff 10px;
    border-radius: 50%;
    content: "";
    display: none;
    inline-size: 100%;
    position: absolute;
  }

  input:checked ~ .checkmark::after {
    display: block;
  }
}

.coveo-headless-search__facet-item {
  align-items: center;
  display: flex;
  gap: 10px;
}

.coveo-headless-search__load-more {
  margin: 20px auto;
  text-align: center;
}

.coveo-headless-search__history {
  display: flex;
  gap: 20px;
}

.coveo-headless-search__history-control {
  margin-block: 20px;
}
