<!DOCTYPE html>
<html lang="en">
<head>
  {{>head title="Contact page"}}
</head>
<body>
  <!-- Header -->
  {{>header}}

  <section role="main">
    <h1>Contact page</h1>

    {{>link title="Link text" link="http://google.com"}}
  </section>

  <!-- Footer -->
  {{>footer}}
</body>
</html>
