<!DOCTYPE html>
<html lang="en">
<head>
  @@include("modules/global/head.html", {
    "title": "Home page"
  })
</head>
<body>
  <!-- Header -->
  @@include("modules/global/header.html")

  <section role="main">
    <h1>Home page</h1>

    @@include("components/button.html", {
      "title": "button text",
      "classes": "btn btn--primary"
    })

    <div>
      <svg>
        <use xlink:href="#arrow-right"/>
      </svg>
    </div>
  </section>

  <div class="test" data-component="Foo">
    Component
  </div>

  <!-- Footer -->
  @@include("modules/global/footer.html")
</body>
</html>
