<!DOCTYPE html>
<html lang="en">
<head>
  {{>head title='Home page'}}
</head>
<body>
  {{>header}}

  <main>
    {{#with accordion}}{{> accordion}}{{/with}}
  </main>

  <!-- Footer -->
  {{>footer}}
</body>
</html>
