<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1, width=device-width, user-scalable=no">
  
  <title>Contact page</title>
  
    <style>html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}h1{font-size:2em;margin:.67em 0}a{background-color:transparent}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}</style>
  <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="/css/styles.css" media="print" onload="this.media='all'">
</head>
<body>
  <!-- Header -->
  Header

  <section role="main">
    <h1>Contact page</h1>

      <a href=http://google.com>Link text</a>
    
  </section>

  <!-- Footer -->
  <footer>
    Footer
  </footer>
  
  <!-- JavaScript -->
  <script>
    var ajax = new XMLHttpRequest();
    ajax.open("GET", "/images/svgsheet.svg", true);
    ajax.send();
    ajax.onload = function() {
        var div = document.createElement("div");
        div.style.display = 'none';
        div.innerHTML = ajax.responseText;
        document.body.insertBefore( div, document.body.childNodes[0]);
    }
  </script>
  <script src="/js/vendors~main.bundle.js"></script>
  <script src="/js/main.bundle.js"></script>
<noscript><link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet"></noscript>
<noscript><link rel="stylesheet" href="/css/styles.css"></noscript>
</body>
</html>
