<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1, width=device-width, user-scalable=no">
  
  <title>Home page</title>
  
    <style>html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}h1{font-size:2em;margin:.67em 0}button{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button{overflow:visible}button{text-transform:none}button{-webkit-appearance:button}button::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring{outline:1px dotted ButtonText}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}</style>
  <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="/css/styles.css" media="print" onload="this.media='all'">
</head>
<body>
  Header

  <section role="main">
    <h1>Home page</h1>

    
      <button class=btn btn--primary>Button text</button>
    <ul>
      <li>item 1</li>
      <li>item 2</li>
    </ul>

    <div>
      <svg>
        <use xlink:href="#arrow-right"/>
      </svg>
    </div>
  </section>

  <div class="test" data-component="Foo">
    Component
  </div>

  <!-- Footer -->
  <footer>
    Footer
  </footer>
  
  <!-- JavaScript -->
  <script>
    var ajax = new XMLHttpRequest();
    ajax.open("GET", "/images/svgsheet.svg", true);
    ajax.send();
    ajax.onload = function() {
        var div = document.createElement("div");
        div.style.display = 'none';
        div.innerHTML = ajax.responseText;
        document.body.insertBefore( div, document.body.childNodes[0]);
    }
  </script>
  <script src="/js/vendors~main.bundle.js"></script>
  <script src="/js/main.bundle.js"></script>
<noscript><link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet"></noscript>
<noscript><link rel="stylesheet" href="/css/styles.css"></noscript>
</body>
</html>
