<div class="coveo-headless-search" data-module="CoveoHeadless">
  <h2 class="coveo-headless-search__heading">Coveo Headless JS</h2>
  <div class="coveo-headless-search__bar">
    <input class="coveo-headless-search__input" />
    <button class="coveo-headless-search__btn">search</button>
  </div>
  <ul class="coveo-headless-search__results">

  </ul>
</div>