<div class="coveo-headless" data-module="CoveoHeadless">
  <h2 class="coveo-headless-heading">Coveo Headless JS</h2>
  <div class="coveo-headless-search-bar">
    <input class="coveo-headless-search-input" />
    <button class="coveo-headless-search-btn">search</button>
  </div>
  <ul class="coveo-headless-search-results">

  </ul>
</div>