//Main entry

//Core
@import
"../../node_modules/normalize.css/normalize",
"core/colorpalette",
"../../node_modules/@verndale/color-palette/colors",
"core/variables";

//Components
@import "components/**/*";

//Modules
@import "modules/**/*";
